<!DOCTYPE html>
<html lang="en">
  <head>
    @input(template/head.content)
  </head>

  <body>
    @input(template/menu.content)

    @content()

    @input(template/footer.content)

    <script>
    // Automatic Slideshow - change image every 4 seconds
    var myIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}    
      x[myIndex-1].style.display = "block";  
      setTimeout(carousel, 4000);    
    }

    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }

    // When the user clicks anywhere outside of the modal, close it
    var modal = document.getElementById('ticketModal');
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>

    <script src="@pathtofile(site/js/process_pre_tags.js)"></script>
    <script src='@pathtofile(site/js/process_md_blocks.js)'></script>
    <script src="@pathtofile(site/js/showdown.min.js)"></script>
    <script>
	    var converter = new showdown.Converter();
	    converter.setOption('tables', 'on');
	    converter.setOption('strikethrough', 'on');
	    converter.setOption('emoji', 'on');
	    elements = document.getElementsByClassName('markdown');
	    for(var i=0; i<elements.length; i++)
		    elements[i].innerHTML = converter.makeHtml(elements[i].innerHTML.replace(/&lt;/g, "xwxw").replace(/&gt;/g, "pqpq")).replace(/xwxw/g, "&lt;").replace(/pqpq/g, "&gt;");
    </script>
  </body>
</html>
